<div id="scrollMe" #scrollMe style="max-height: calc(100vh - 180px);min-width: 685px;overflow-y: scroll">
	<h2>Your registration is successful.</h2>
	<p>Please Standby for the announcement of your schedule. Your application has been added to our database. Thank you!</p>
<hr>
<div id="pdfTable" #pdfTable>
<h3 style="text-align: center">Applicant Information:</h3>
<table  id="customers">
	<tr>
		<td width="200px">ProgramLevel: </td>
		<td>{{proglevelval}}</td>
	</tr>
	<tr>
		<td>Full name: </td>
		<td>{{fullname}}</td>
	</tr>
	<tr>
		<td>Date of birth:</td>
		<td style="width: calc(50% - 300px)">{{vars.DateOfBirth | date: 'mediumDate'}} &nbsp; &nbsp; &nbsp; &nbsp; Gender:  {{vars.Gender}}</td>
	</tr>
	<tr>
		<td>Contact Number:</td>
		<td>{{vars.ContactNumber}}</td>
	</tr>
	<tr>
		<td>Contact Person:</td>
		<td>{{vars.ContactPerson}}</td>
	</tr>
	<tr *ngIf="vars.ProgramLevel=='04'||vars.ProgramLevel=='05'||vars.ProgramLevel=='06'||vars.ProgramLevel=='07'">
		<td>School Graduated From: </td>
		<td>{{vars.SchoolGraduatedFrom}}  Year: {{vars.YearGraduated}}</td>
	</tr>
	<tr *ngIf="vars.ProgramLevel=='06'">
		<td>Current Strand: </td>
		<td>{{currentstrand}}</td>
	</tr>
	<tr *ngIf="vars.ProgramLevel=='06'||vars.ProgramLevel=='07'">
		<td>Preffered Course: </td>
		<td>{{pcourse}}</td>
	</tr>
	<tr *ngIf="vars.ProgramLevel=='06'">
		<td>Alternative Course 1: </td>
		<td>{{acourse1}}</td>
	</tr>
	<tr *ngIf="vars.ProgramLevel=='06'">
		<td>Alternative Course 2: </td>
		<td>{{acourse2}}</td>
	</tr>
	<tr *ngIf="vars.ProgramLevel=='05'">
		<td>Strand Priority 1: </td>
		<td>{{strandp1}}</td>
	</tr>
	<tr *ngIf="vars.ProgramLevel=='05'">
		<td>Strand Priority 2: </td>
		<td>{{strandp2}}</td>
	</tr>
</table>
<div style="height: 10px"></div>
<hr>
<br>
<b>Please take note of the following:</b>
<ol type="1">
<li>You will receive a call or text from the Guidance Office to inform you of your test schedule.</li>
<li>Please show the CONFIRMATION TEXT to the guard-on-duty when you come for your scheduled entrance test. Only students with confirmation are allowed entry to the University campus.</li>
<li>Please use a mask (No Mask, No Entry policy) and observe physical distancing when you are inside the campus.</li>
<li>Only one (1) chaperone per pupil/student is allowed.</li>
</ol>
<b>Please bring the following during your scheduled examination:</b><br><br>

For Junior and Senior High School:<br>
<ol>
<li>Clear photocopy of Report Card with a GPA of 80% or above</li>
<li>Testing fee of P 100.00</li>
<li>Two lead pencils</li>
<li>Two pieces of bond paper</li>
<li>One long white paper folder</li>
</ol>
For College:<br>
<ol>
<li>Properly accomplished USL-CET Application Form(FM-GCC-302) available at <a href="http://bit.ly/USLCET2020">http://bit.ly/USLCET2020</a> or visit the College Guidance Center.</li>
<li>USL-CET Fee: One Hundred Pesos (PHP100) to be settled at the Accounting Office. Once the permit has been secured, the paid amount becomes non-refundable.</li>
<li>One (1) 2x2 ID photo WITH NAME TAG; white background; eyes and face and/or hair not covered. Affix your signature at the back of the photo.</li>
</ol> 

</div>     

            
                      

                      <!-- "StrandId": strandid,
                      "PreferredCourseId": this.courseval,
                      "AlternativeCourseId1": this.courseval1,
                      "AlternativeCourseId2": this.courseval2,
                      "YearGraduated": year,
                      "SchoolAddressNoStreet": address,
                      "SchoolAddressPSGC": companyid,
                      "SHS_PriorityStrandID1": strandval,
                      "SHS_PriorityStrandID2": strandval1,
                      "TopOfMyClass": this.condition -->
</div>
<button mat-raised-button color="primary" style="width: calc(100% - 60px);margin: 20px 30px 5px 30px;font-size: 18px;height: 50px" (click)="downloadAsPDF()">Download and Close</button>