<h2 style="text-align: center;margin-top: 0px">Trainers</h2>
<br>
<style type="text/css">
	
	mat-card:hover {
		background-color: #e6e6e6;
	}
	.jump{
		float: left;
		width: calc(25% - 40px);
		padding: 10px !important;
		margin: 10px
	}
	@media screen and (max-width: 1300px) {
      .jump {
		width: calc(32% - 30px);
      }
   }
	@media screen and (max-width: 1000px) {
      .jump {
		width: calc(45% - 20px);
      }
   }
	@media screen and (max-width: 700px) {
      .jump {
		width: calc(98% - 20px);
      }
   }
</style>
<div style="margin: auto; max-width: 1200px ">
				<mat-card class="jump">
					<img src="assets/Capture.JPG" width="100%">
					<h3 style="margin: 5px">Coaxfibergo</h3>
					<table style="width: 100%">
						<tr>
							<td style="width: 25%">
								<img src="assets/trainercode.JPG" width="100%">
							</td>
							<td>
								Trainer Code:<br>
								<b>9999 9999 9999</b>
								<div style="height: 10px"></div>
								Status: <span style="background-color: green; padding: 3px;border-radius: 8px;color: white;font-size: 12px">Active</span>
							</td>
						</tr>
					</table>
				</mat-card>


				<mat-card class="jump">
					<img src="assets/Capture.JPG" width="100%">
					<h3 style="margin: 5px">Coaxfibergo</h3>
					<table style="width: 100%">
						<tr>
							<td style="width: 25%">
								
								<img src="assets/trainercode.JPG" width="100%">
							</td>
							<td>
								Trainer Code:<br>
								<b>9999 9999 9999</b>
								<div style="height: 10px"></div>
								Status: <span style="background-color: green; padding: 3px;border-radius: 8px;color: white;font-size: 12px">Active</span>
							</td>
						</tr>
					</table>
				</mat-card>


				<mat-card class="jump">
					<img src="assets/Capture.JPG" width="100%">
					<h3 style="margin: 5px">Coaxfibergo</h3>
					<table style="width: 100%">
						<tr>
							<td style="width: 25%">
								
								<img src="assets/trainercode.JPG" width="100%">
							</td>
							<td>
								Trainer Code:<br>
								<b>9999 9999 9999</b>
								<div style="height: 10px"></div>
								Status: <span style="background-color: green; padding: 3px;border-radius: 8px;color: white;font-size: 12px">Active</span>
							</td>
						</tr>
					</table>
				</mat-card>


				<mat-card class="jump">
					<img src="assets/Capture.JPG" width="100%">
					<h3 style="margin: 5px">Coaxfibergo</h3>
					<table style="width: 100%">
						<tr>
							<td style="width: 25%">
								
								<img src="assets/trainercode.JPG" width="100%">
							</td>
							<td>
								Trainer Code:<br>
								<b>9999 9999 9999</b>
								<div style="height: 10px"></div>
								Status: <span style="background-color: green; padding: 3px;border-radius: 8px;color: white;font-size: 12px">Active</span>
							</td>
						</tr>
					</table>
				</mat-card>

				
				<mat-card class="jump">
					<img src="assets/Capture.JPG" width="100%">
					<h3 style="margin: 5px">Coaxfibergo</h3>
					<table style="width: 100%">
						<tr>
							<td style="width: 25%">
							
								<img src="assets/trainercode.JPG" width="100%">
							</td>
							<td>
								Trainer Code:<br>
								<b>9999 9999 9999</b>
								<div style="height: 10px"></div>
								Status: <span style="background-color: green; padding: 3px;border-radius: 8px;color: white;font-size: 12px">Active</span>
							</td>
						</tr>
					</table>
				</mat-card>
</div>