<style type="text/css">
  .notvisible{
    display:inline;
  } 
  .visible{
    display:none;
  }


  @media screen and (max-width: 900px) {
      .notvisible{
    display:none;
  } 
  .visible{
    display:inline;
  }
   }

   @media screen and (max-width: 500px) {
      .pogologo{
    width: 320px
  } 
   }
</style>
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src="assets/logopogo.png" class="pogologo">
    <span class="example-spacer"></span>
    <button mat-button   [routerLink]="['/home']" class="notvisible"><mat-icon>home</mat-icon>Home</button>
    <button mat-button   [routerLink]="['/main']"  class="notvisible"><mat-icon>account_box</mat-icon>Trainers</button>
    <button mat-button   [routerLink]="['/merch']"  class="notvisible"><mat-icon>add_shopping_cart</mat-icon>Merch</button>
    <button mat-button   [routerLink]="['/info']"  class="notvisible"><mat-icon>touch_app</mat-icon>Info</button>
    <button mat-button  (click)="signInWithGoogle()" *ngIf='!global.logged' class="notvisible"><mat-icon>fingerprint</mat-icon>Google Login</button>
    
        <a mat-button (click)="Logout()"  *ngIf='global.logged' class="notvisible"><mat-icon>logout</mat-icon> LogOut</a>
    
    <button mat-button [matMenuTriggerFor]="menu" class="visible"><mat-icon>reorder</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-button   [routerLink]="['/info']" ><mat-icon>home</mat-icon>Home</button><br>
        <button mat-button   [routerLink]="['/main']" ><mat-icon>account_box</mat-icon>Trainers</button><br>
        <button mat-button   [routerLink]="['/merch']" ><mat-icon>add_shopping_cart</mat-icon>Merch</button><br>
        <button mat-button   [routerLink]="['/info']" ><mat-icon>touch_app</mat-icon>Info</button><br>
        <button mat-button  (click)="signInWithGoogle()" *ngIf='!global.logged'><mat-icon>fingerprint</mat-icon>Google Login</button><br>
        
            <a mat-button (click)="Logout()"  *ngIf='global.logged'><mat-icon>logout</mat-icon> LogOut</a>
      </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<style type="text/css">
  .bg {
  /* The image used */
  background-image: url("assets/bg2.jpg");

  /* Full height */
  height: calc(100% - 64px); 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
</style>
<mat-drawer-container class="bg">
  <mat-drawer #drawer class="example-sidenav" mode="side" ><!--opened-->
    <div id="sidenav">
      <div *ngIf='!global.logged'>
        <p>Log in to view options.</p>
        <button mat-button  (click)="signInWithGoogle()" *ngIf='!global.logged'><mat-icon>fingerprint</mat-icon>Google Login</button>
      </div>
      <div *ngIf='global.logged'>
        <p>Welcome {{name}}</p>
        <a mat-button (click)="openDialog(1)"><mat-icon>supervised_user_circle</mat-icon> Trainer Info</a><br>
        <a mat-button (click)="Logout()" ><mat-icon>logout</mat-icon> LogOut</a><br>
      </div>
    </div>
  </mat-drawer>

  <div>
    <button type="button" mat-button (click)="drawer.toggle()">
      <i class="material-icons">list</i>
    </button>

    <div style="padding: 20px">

      <router-outlet></router-outlet>
      
    </div>
  </div>


</mat-drawer-container>

