<h3 style="text-align: center;">
	Trainer Info
</h3>
<p style="text-align: center;padding-left: 20px;margin:auto;">
  
</p>
<table style="width: 100%">
	<tr>
		<td>
			<img src="../assets/loading.gif" style="width: 200px">
		</td>
		<td valign="top">
			<div style="height: 10px"></div>
			<mat-form-field appearance="outline">
			    <mat-label>Trainer Name:</mat-label>
			    <input #tid matInput placeholder="e.g. Ash Ketchum" [(ngModel)]='id' autocomplete="off" (keydown)="keyDownFunction($event)">
			    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
			  </mat-form-field>
		  <mat-form-field appearance="outline">
		    <mat-label>Trainer Code:</mat-label>
		    <input matInput placeholder="0000 0000 0000" autocomplete="off" #sid>
		    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
		  </mat-form-field>
		</td>
	</tr>
</table>

---------- Not yet Implemented ----------<button mat-button style="color: white;background-color: #DC143C;margin-bottom: 10px;float: right;right: 10px;top: 10px;"><mat-icon>close</mat-icon>Update</button>