<div style="max-height: calc(100vh - 300px)">
<h3 style="text-align: center;">USL-CET Policy Acceptance and Data Privacy Clause</h3>
<p>
	Upon taking this endeavor to register and apply for the USL-CET, I am assuring the authenticity of the information that I am about to submit through this form:
</p>
<ol type="1">
	<li>I am submitting the correct entry   of all the basic information required.</li>
	<li>I am ensuring that the contact numbers and email that I have given is active.</li>
	<li>I agree that I am not allowed to duplicate this registration.</li>
	<li>I am aware that I can only take the USL-CET once.</li>
	<li>I agree that in case I fail to take the test on my given schedule I shall notify USL.</li>
	<li>I am aware that all updates and the status of my application will be available through the online appointment dashboard of the USL.</li>

</ol>
<p>
	I understand that any false statement is sufficient to disqualify and or invalidate any transactions that I have made with University of Saint Louis Tuguegarao.
<br><br>
I also consent and agree that the above information shall be used by the University for legitimate purposes and shall be processed by authorized personnel in accordance with the Data Privacy Policies of the University.
<br><br>
I have read the above policy. I understand the contents and I agree to comply with the said policy.

</p>
</div>
<div style="text-align: center;">
	
    <button mat-raised-button color="primary" style="color: white;" (click)="closethis()">
      I Agree
    </button>
</div>
