/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-card-header {
  background-color: #3f51b5 !important;
  color: white;
}

mat-card-title{
	margin-top: 15px;
	font-size: 16px !important;
}
mat-card{
	padding:0 !important; 
}
mat-card-content{
	padding:15px !important; 

}

#sidenav a{
	width: 100%;
	text-align: left;
}